/* Additional global styles if needed */
*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-rounded-sans);
	padding: 0;
	margin: 0;
	background: white;

	/* Small tablets and larger mobile devices (481px - 768px) */
	@media (min-width: 481px) {}

	/* Tablets and small laptops (769px - 1024px) */
	@media (min-width: 769px) {}

	/* Large desktops and high-resolution screens (1025px and up) */
	@media (min-width: 1025px) {
		background: var(--stone-1);
		width: 1080px;
		justify-self: center;
	}

	/* Extra-large screens (1440px and up) */
	@media (min-width: 1440px) {}
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	max-width: 100%;
	background-color: var(--stone-0);
	border: var(--border-size-1) solid var(--gray-1);
	border-radius: var(--border-size-3);
	padding: var(--size-3);
	margin-block: var(--size-3);
	font-family: monospace;
	color: var(--stone-9);
	overflow-x: auto;
}

blockquote {
	margin-block: var(--size-3);
	padding: var(--size-2) var(--size-3);
	border-left: var(--border-size-3) solid var(--stone-3);
	background-color: var(--gray-0);
	font-style: normal;
	color: var(--stone-9);
	max-width: 100%;
}

code {
	background-color: var(--stone-0);
	color: var(--purple-9);
	padding: var(--size-1) var(--size-2);
	border-radius: var(--border-size-3);
	font-family: monospace;
	font-size: smaller;
	border: none;
}

/* Common ADD FORM styling */
.add-form {
	border: var(--border-size-1) solid var(--gray-1);
	border-radius: var(--border-size-3);
	padding: var(--size-6);
	margin-block: var(--size-3);

	.form-title {
		margin-bottom: var(--size-9);

		h2 {
			margin-top: 0;
		}
	}
}

/* Common MANAGE ACTIONS styling */
[readonly] {
	background: var(--gray-0);
	color: var(--gray-6);
	cursor: not-allowed;
}

.manage-actions {
	margin-block: var(--size-8);
	border: var(--border-size-1) solid var(--gray-1);
	border-radius: var(--border-size-3);
	padding: 0;

	summary {
		padding: var(--size-3);
		cursor: pointer;
		background-color: var(--gray-1);
		border-radius: var(--border-size-3) var(--border-size-3) 0 0;
		font-weight: bold;
		color: var(--stone-9);

		&:hover {
			background-color: var(--gray-2);
		}
	}

	&[open] summary {
		border-bottom: var(--border-size-1) solid var(--gray-2);
		border-radius: var(--border-size-3) var(--border-size-3) 0 0;
	}

	.form-message {
		background-color: var(--green-1);
		color: var(--green-12);
		padding: var(--size-3);
		border: var(--border-size-1) solid var(--green-6);
		border-radius: var(--border-size-3);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-bottom: 0;

		&.error {
			background-color: var(--red-1);
			color: var(--red-12);
			border-color: var(--red-6);
		}
	}

	/* .delete-form {
		background: var(--red-0);
		padding: var(--size-2) var(--size-5);
	} */
}

/* common ADD and MANAGE forms */
.image-preview {
	border-radius: var(--border-size-3);
	object-fit: cover;
	margin-bottom: var(--size-3);
	box-shadow: var(--shadow-1);
	width: 100%;
	height: auto;
}

/* common INPUT styling */
.required {
	color: var(--red-6);
}

.edit-form {
	padding: var(--size-5);
	border-bottom: var(--border-size-1) solid var(--gray-1);

	h3 {
		margin-top: 0;
		margin-bottom: var(--size-5);
		color: var(--stone-9);
		font-size: 1.25em;
		font-weight: 600;
	}
}


.form-group {
	margin-bottom: var(--size-5);
}

.form-label {
	display: block;
	font-size: 0.9em;
	font-weight: 500;
	color: var(--stone-8);
	margin-bottom: var(--size-2);
}

.form-input,
.form-textarea,
.form-select {
	width: 100%;
	padding: var(--size-3) var(--size-2);
	border: var(--border-size-1) solid var(--gray-1);
	border-radius: var(--border-size-3);
	font-size: 0.9em;
	transition:
		border-color 0.2s,
		box-shadow 0.2s;
}

input[type="file"]::file-selector-button {
	padding: var(--size-2) var(--size-1);
	border: var(--border-size-1) solid var(--gray-1);
	border-radius: var(--border-size-3);
	font-size: 0.9em;
	transition:
		border-color 0.2s,
		box-shadow 0.2s;
}


.form-input:focus,
.form-textarea:focus,
.form-select:focus {
	outline: none;
	border-color: var(--blue-3);
	box-shadow: var(--shadow-1);
}

.form-textarea {
	resize: vertical;
	min-height: 120px;
}

.form-actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--size-3);
	margin-top: var(--size-8);
}